body{
  color:#421;
  font-weight:bold;
  font-size:18px;
  font-family:"Courier New";
  background:rgb(200,232,241);
  
  
}
.main{
  position:fixed;
  top:5%;
  right:10%;
  
}
#user{
  background-color:grey;
  top:10%;
}
#input{
  top:10%;
  height:20px;
  background-color:white;
}

span{
  color:blue
    
}

image1{
 width:50;
  height:50
}